.calendar {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;

  .month {
    height: 100%;
    overflow-x: scroll;

    .dayLine {
      @include make-row();
      flex-wrap: nowrap;
      /*display: flex;
      justify-content: space-between;*/
      height: 25%;

      .day {
        @include make-col(2);
        border-radius: 3px;
        border: 2px solid #D8737F;
        background-color: #475C7A;
        color: #D8737F;
        margin-bottom: map-get($spacers, 1);
        margin-right: map-get($spacers, 1);

        div {
          //margin: .4em 0;
          padding: 0 .4em;
          height: 20%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          &.lesson {
            background-color: #685D79;
          }
        }
      }
    }
  }
}
