<ul class="list-group list-group-flush bg-opacity-100">

            if ($timetable->isEmpty()) {
    echo "<h2 class='text-primary text-center mt-4'>Нет пар</h2>";
    }
    foreach ($timetable as $date => $lessons) {
    echo "<li class='list-group-item' data-date='$date'>";
    echo "<div class='labels'>
        <span class='date me-1'>" . convertDate('d.m', $date) . "</span>";
        foreach (collect($lessons) as $lesson) {
        if (isSessionPart($lesson)) {
        echo "<span class='type session me-1'>" . getLessonTypeSignature($lesson["finalCheckTypeID"]) . "</span>";
        } else {
        echo "<span class='type me-1'>" . getLessonTypeSignature($lesson["TypeID"]) . "</span>";
        }
        }
        echo "</div>";
    foreach ($lessons as $lesson) {
    $lessonAddress = $lesson['Coords']['building']['name'];
    $type = getLessonFullType(isSessionPart($lesson) ? $lesson["finalCheckTypeID"] : $lesson["TypeID"]);
    $lessonSign = getLessonSignature($lesson);
    $groupsSign = getGroupsSignature($lesson);
    $courseSign = getCourseNumber($lesson['Group'][0]['name']);
    $teacherSign = getTeacherSignature($lesson);
    $lessonIndex = getLessonIndex($lesson);
    $lessonClassList = isSessionPart($lesson) ? 'lesson text-decoration-underline' : 'lesson';
    if (isTeacherTimetable()) {
    <div class='$lessonClassList' data-time='{$lesson['TimeStart']}'>
    <div class='lesson-name'>
        <b class='fw-bold'>$lessonIndex.</b>
        $lessonSign
    </div>
    <span class='lesson-description'>$groupsSign $courseSign $lessonAddress $type</span>
    </div>";
    } else if (isGroupTimetable()) {
    echo "<div class='$lessonClassList' data-time='{$lesson['TimeStart']}'>
    <div class='lesson-name'>
        <b class='fw-bold'>$lessonIndex.</b>
        $lessonSign
    </div>
    <span class='lesson-description'>$teacherSign $lessonAddress $type</span>
    </div>";
    }
    }
    echo "</li>";
    }

</ul>
