foreach ($lessons as $lesson) {
$lessonAddress = $lesson['Coords']['building']['name'];
$type = getLessonFullType(isSessionPart($lesson) ? $lesson["finalCheckTypeID"] : $lesson["TypeID"]);
$lessonSign = getLessonSignature($lesson);
$groupsSign = getGroupsSignature($lesson);
$courseSign = getCourseNumber($lesson['Group'][0]['name']);
$teacherSign = getTeacherSignature($lesson);
$lessonIndex = getLessonIndex($lesson);
$lessonClassList = isSessionPart($lesson) ? 'lesson text-decoration-underline' : 'lesson';
if (isTeacherTimetable()) {
<div class='$lessonClassList' data-time='{{lesson.TimeStart}}'>
<div class='lesson-name'>
    <b class='fw-bold'>$lessonIndex.</b>
    $lessonSign
</div>
<span class='lesson-description'>{{groupsSign}} {{courseSign}} {{lessonAddress}} {{type}}</span>
</div>";
} else if (isGroupTimetable()) {
echo "<div class='$lessonClassList' data-time='{{lesson.TimeStart}}'>
<div class='lesson-name'>
    <b class='fw-bold'>{{lessonIndex}}.</b>
    $lessonSign
</div>
<span class='lesson-description'>{{teacherSign}} {{lessonAddress}} {{type}}</span>
</div>";
}
