$days-count: 6;
$col-per-screen-sm: 3.5;
$col-per-screen-lg: 6;
$day-horizontal-margin: 3px;
$line-width-sm: calc(100% * ($days-count / $col-per-screen-sm));
$line-width-lg: calc(100% * ($days-count / $col-per-screen-lg));
.calendar {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  @include media-breakpoint-up(md) {
    max-height: 87vh;
  }
  @include media-breakpoint-up(lg) {
    max-height: 90vh;
  }
  @include media-breakpoint-up(xl) {
    max-height: 90vh;
  }
  @include scroll-bar();

  .header {
    padding: map-get($spacers, 2) 0;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparentize($body-bg, .8);
    backdrop-filter: blur(2px);
    @include media-breakpoint-up(xs) {
      width: $line-width-sm;
    }
    @include media-breakpoint-up(md) {
      width: $line-width-lg;
    }

    span {
      text-align: center;
      justify-content: center;
      color: $primary;
      display: flex;
      min-width: calc(100% / $days-count);
      word-break: break-all; //TODO: remove wordBreak. Make smaller font-size
    }
  }

  .day-grid {
    .dayLine {
      flex-wrap: nowrap;
      @include media-breakpoint-up(xs) {
        width: $line-width-sm;
      }
      @include media-breakpoint-up(md) {
        width: $line-width-lg
      }

      display: flex;

      &:first-of-type {
        justify-content: end;
      }

      &:last-child {
        justify-content: start;
      }

      .day-wrapper {
        width: calc(100% / $days-count);
        margin-bottom: map-get($spacers, 1);
        position: relative;
        cursor: pointer;
        padding: 0 $day-horizontal-margin;

        .day {
          border-radius: 3px;
          border: 2px solid $accent;
          background-color: $body-bg;
          color: $accent;
          min-height: 50px;
          height: 100%;

          &:hover {
            &:after {
              content: attr(data-day-number);
              width: calc(100% - $day-horizontal-margin * 2);
              height: 100%;
              position: absolute;
              top: 0;
              left: 0 + $day-horizontal-margin;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              font-size: xx-large;
              font-weight: 800;
              color: transparentize($primary, .3);
              background: linear-gradient(transparentize($accent, .9), transparentize($accent, .7));
            }

            .lesson {
              opacity: .3;
            }
          }

          .lesson {
            width: 100%;
            min-height: 33px;
            padding: 4px 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            border-radius: 0;
            border-top-width: 0;
            border-bottom-width: 1px;
            border-left-width: 0;
            border-right-width: 0;
            border-style: dashed;

            &[data-lesson-index="6"] {
              border-top-style: solid;
              border-top-color: $primary;
              border-top-width: 2px;
            }

            span {
              width: 100%;
              background-color: $secondary;
            }
          }
        }
      }
    }
  }
}
