$days-count: 6;
$col-per-screen-sm: 3.5;
$col-per-screen-lg: 6;
$line-width-sm: calc(100% * ($days-count / $col-per-screen-sm));
$line-width-lg: calc(100% * ($days-count / $col-per-screen-lg));
.calendar {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-x: auto;

  .header {
    padding: map-get($spacers, 2) 0;
    display: flex;
    @include media-breakpoint-up(xs) {
      width: $line-width-sm;
    }
    @include media-breakpoint-up(md) {
      width: $line-width-lg;
    }

    span {
      text-align: center;
      justify-content: center;
      color: $primary;
      display: flex;
      min-width: calc(100% / 6);

    }
  }

  .day-grid {
    .dayLine {
      flex-wrap: nowrap;
      @include media-breakpoint-up(xs) {
        width: $line-width-sm;
      }
      @include media-breakpoint-up(md) {
        width: $line-width-lg
      }

      display: flex;

      &:first-of-type {
        justify-content: end;
      }

      &:last-child {
        justify-content: start;
      }

      .day {
        min-width: calc(100% / 6);
        min-height: 50px;
        padding: 0;
        border-radius: 3px;
        border: 2px solid $accent;
        background-color: $body-bg;
        color: $accent;
        margin-bottom: map-get($spacers, 1);
        position: relative;
        cursor: pointer;

        &:hover {
          &:after {
            content: attr(data-day-number);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: xx-large;
            font-weight: 800;
            color: transparentize($primary, .3);
            background: linear-gradient(transparentize($accent, .9), transparentize($accent, .7));
          }

          .lesson {
            opacity: .3;
          }
        }

        .lesson {
          width: 100%;
          min-height: 33px;
          padding: 4px 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          border-radius: 0;
          border-top-width: 0;
          border-bottom-width: 1px;
          border-left-width: 0;
          border-right-width: 0;
          border-style: dashed;

          span {
            width: 100%;
            background-color: $secondary;
          }

          &.empty {
            //visibility: hidden;
          }
        }
      }
    }
  }
}
