@use "sass:math";

$days-count: 6;
$col-per-screen-sm: 3.5;
$col-per-screen-lg: 6;
$day-horizontal-margin: 3px;
$line-width-sm: calc(100% * ($days-count / $col-per-screen-sm));
$line-width-lg: calc(100% * ($days-count / $col-per-screen-lg));

.month-title {
  font-weight: bolder;
  color: $head-text-color;
  @include media-breakpoint-up(md) {
    display: inline;
  }

  a.next-day, a.prev-day {
    float: right;
  }

  a.back, a.next-day, a.prev-day {
    text-decoration: none;

    .bi {
      color: $navigation-icons-color;
      cursor: pointer;
      border-radius: 3px;
      margin-left: map-get($spacers, 1);
      display: inline-flex;
      @include font-size(map-get($font-sizes, 1));

      &:hover {
        color: $navigation-icons-hover-color;
        background-color: $navigation-icons-hover-bg;
      }
    }
  }
}

.timetable-subtitle {
  color: $head-subtitle-text-color;
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
  @include media-breakpoint-up(md) {
    display: inline;
    @include margin-bottom(map-get($spacers, 3))
  }
  @include margin(0);
}

.calendar {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  @include padding(map-get($spacers, 1));
  @include media-breakpoint-up(md) {
    max-height: 92vh;
  }
  @include scroll-bar();

  .header {
    padding: map-get($spacers, 2) 0;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background: $calendar-day-name-header-bg;
    backdrop-filter: $calendar-day-name-header-filter;
    @include media-breakpoint-up(xs) {
      width: $line-width-sm;
    }
    @include media-breakpoint-up(md) {
      width: $line-width-lg;
    }

    span {
      font-weight: $calendar-day-name-text-weight;
      text-align: center;
      justify-content: center;
      color: $calendar-day-name-text-color;
      display: flex;
      min-width: calc(100% / $days-count);
      word-break: break-all; //TODO:remove wordBreak. Make smaller font-size
    }
  }

  .day-grid {
    .dayLine {
      flex-wrap: nowrap;
      @include media-breakpoint-up(xs) {
        width: $line-width-sm;
      }
      @include media-breakpoint-up(md) {
        width: $line-width-lg
      }
      display: flex;

      &:first-of-type {
        justify-content: end;
      }

      &:last-child {
        justify-content: start;
      }

      .day-wrapper {
        width: calc(100% / $days-count);
        margin-bottom: map-get($spacers, 1);
        position: relative;
        cursor: pointer;
        padding: 0 $day-horizontal-margin;

        .day {
          border-radius: 3px;
          border: $calendar-day-border;
          background-color: $calendar-day-bg;
          color: $calendar-day-text-color;
          min-height: 50px;
          height: 100%;

          &:hover {
            &:after {
              content: attr(data-day-number);
              width: calc(100% - $day-horizontal-margin * 2);
              height: 100%;
              position: absolute;
              top: 0;
              left: 0 + $day-horizontal-margin;
              display: flex;
              text-align: center;
              justify-content: center;
              align-items: center;
              font-size: xx-large;
              font-weight: $calendar-day-overlay-text-weight;
              color: $calendar-day-overlay-text-color;
              background: $calendar-day-overlay-bg;
            }

            .lesson {
              opacity: $calendar-lesson-overlay-opacity;
            }
          }

          .lesson {
            width: 100%;
            min-height: 33px;
            padding: math.div($calendar-lesson-threshold, 2) 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            border-radius: 0;
            border-top-width: 0;
            border-bottom-width: $calendar-lesson-border-width;
            border-left-width: 0;
            border-right-width: 0;
            border-style: $calendar-lesson-border-style;
            font-weight: $calendar-lesson-text-weight;

            span {
              width: 100%;
              background-color: $calendar-lesson-bg;
            }
          }
        }
      }
    }
  }
}
