.calendar {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: break-word;

  .header {
    padding: map-get($spacers, 2) 0;
    @include make-row(0);
    flex-wrap: nowrap;


    span {
      text-align: center;
      @include make-col(4);
      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
      @include media-breakpoint-up(md) {
        @include make-col(2);
      }
      color: $primary;
    }
  }

  .dayLine {
    @include make-row();
    flex-wrap: nowrap;
    justify-content: end;

    &:last-child {
      justify-content: start;
    }

    .day {
      @include make-col(4);
      @include media-breakpoint-up(sm) {
        @include make-col(4);
      }
      @include media-breakpoint-up(md) {
        @include make-col(2);
      }
      min-height: 50px;
      padding: 0;
      border-radius: 3px;
      border: 2px solid $accent;
      background-color: $body-bg;
      color: $accent;
      margin-bottom: map-get($spacers, 1);
      margin-right: map-get($spacers, 1);
      margin-left: map-get($spacers, 1);
      max-width: 15.76666667%;
      position: relative;
      cursor: pointer;

      &:hover {
        background: linear-gradient(transparentize($accent, .9), transparentize($accent, .7));

        &:after {
          content: attr(data-day-number);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: xx-large;
          font-weight: 800;
          color: transparentize($accent, .5);
        }
      }

      .lesson {
        width: 100%;
        min-height: 33px;
        padding: 4px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border-radius: 0;
        border-top-width: 0;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        border-style: dashed;

        span {
          width: 100%;
          background-color: $secondary;
        }

        &.empty {
          //visibility: hidden;
        }
      }
    }
  }
}
