$scrollbar-thumb-color: transparentize($secondary, .6);
$scrollbar-background-color: $body-bg;

#listDays {
  .list-group {
    @include media-breakpoint-up(md) {
      height: calc(100vh - (map-get($spacers, 2) * 2));
    }

    overflow-y: scroll;
    overflow-x: hidden;
    @include scroll-bar();

    .list-group-item {
      color: darken($primary, 10%);

      .lesson {
        @include font-size($font-size-sm);
      }

      span.date {
        font-weight: bold;
        color: $primary;
        background-color: transparentize($secondary, .9);
        padding: 0 0.8em;
        border-radius: 5px;
      }

      span.type {
        font-weight: bold;
        color: $primary;
        background-color: transparentize($secondary, .85);
        padding: 0 0.8em;
        border-radius: 5px;
        text-transform: uppercase;
      }

      span.groupCode {
        font-family: "Montserrat Medium", sans-serif;
        color: $primary;
      }
    }
  }
}
