#listDays {
  .list-group {
    @include media-breakpoint-up(md) {
      height: calc(100vh - (map-get($spacers, 2) * 2));
    }

    overflow-y: scroll;
    overflow-x: hidden;
    @include scroll-bar();

    .list-group-item {
      color: unset;
      font-weight: $lesson-name-text-weight;
      @include scroll-bar();
      @include media-breakpoint-up(xs) {
        overflow-x: auto;
        overflow-y: hidden;
      }
      @include media-breakpoint-up(sm) {
        overflow-x: unset;
        overflow-y: unset;
      }

      .labels {
        white-space: nowrap;
      }

      .lesson {
        padding-bottom: $lesson-list-lesson-padding-y;
        padding-top: $lesson-list-lesson-padding-y;
        border: $lesson-delimiter-border-color;
        border-left: none;
        border-right: none;
        border-top: none;

        &:last-of-type {
          border-bottom: none;
        }

        &.session {
          .lesson-description, .lesson-name {
            text-decoration: underline dotted currentColor 1px;
            text-underline-offset: 3px;
            text-underline-position: from-font;
          }
        }
      }

      span.date {
        font-weight: bold;
        background-color: $lesson-list-date-background-color;
        padding: 0 0.8em;
        border-radius: 5px;
      }

      span.type {
        font-weight: bold;
        color: $lesson-list-type-text-color;
        background-color: $lesson-list-type-background-color;
        border: $lesson-list-type-border;
        padding: 0 .5em;
        border-radius: 5px;
        text-transform: uppercase;

        &.session {
          border: $lesson-list-session-type-border;
          color: $lesson-list-session-type-text-color;
          background-color: $lesson-list-session-type-background-color;
        }
      }

      .lesson-name {
        line-height: $lesson-list-line-threshold;
        margin-bottom: $lesson-list-lesson-inside-threshold;
      }

      .lesson-description {
        line-height: $lesson-list-line-threshold;
        font-weight: $lesson-description-text-weight;
        color: var(--bs-light);
      }
    }
  }
}
