$scrollbar-thumb-color: $secondary;
$scrollbar-background-color: $body-bg;

#listDays {
  .list-group {
    @include media-breakpoint-up(md) {
      height: 100vh;
    }

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb-color $scrollbar-background-color;

    &::-webkit-scrollbar {
      background-color: $scrollbar-background-color;
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      width: 7px;
      background-color: $scrollbar-background-color;
    }

    &::-webkit-scrollbar-thumb {
      width: 7px;
      border-radius: 4px;
      background-color: $scrollbar-thumb-color;
    }


    .list-group-item {
      font-weight: 400;
      color: darken($primary, 10%);

      .lesson {
        @include font-size($font-size-sm);
      }

      span.date {
        font-weight: bold;
        color: $accent;
        background-color: $secondary;
        padding: 0 0.8em;
        border-radius: 5px;
      }

      span.type {
        font-weight: bold;
        color: $primary;
        background-color: $secondary;
        padding: 0 0.8em;
        border-radius: 5px;
        text-transform: uppercase;
      }

      span.groupCode {
        font-weight: bold;
        color: $accent;
      }
    }
  }
}
