@use 'sass:color';

#listDays {
  .list-group {
    @include media-breakpoint-up(md) {
      height: calc(100vh - (map-get($spacers, 2) * 2));
    }
    overflow-y: scroll;
    overflow-x: hidden;
    @include scroll-bar();

    .list-group-item {
      color: $list-item-text-color;

      .lesson {
        @include font-size($font-size-base);
        margin-bottom: .5rem;
      }

      .labels {
        margin-bottom: .5rem;
      }

      span.date {
        border: $list-date-label-border;
        font-weight: bold;
        color: $list-date-label-text-color;
        background-color: $list-date-label-bg;
        padding: 0 0.8em;
        border-radius: 5px;
      }

      span.type {
        border: $list-type-label-border;
        font-weight: bold;
        color: $list-type-label-text-color;
        background-color: $list-type-label-bg;
        padding: 0 0.8em;
        border-radius: 5px;
        text-transform: uppercase;
      }

      .lesson-description {
        margin-left: map-get($spacers, 4);


        span.groupCode, span.course-sign, span.typeSign, span.teacherSign {
          font-family: "Montserrat Medium", sans-serif;
          //color: adjust-color($primary, $lightness: -28%, $saturation: 1%);
          color: $list-lesson-description-text-color;
          //background: darken($primary, 6%);
          //background:$list-lesson-description-bg;
          //padding: .25rem;
          font-weight: $list-lesson-description-weight;
          border-radius: 5px;
          word-wrap: normal;
          word-break: keep-all;
          overflow-x: hidden;
        }
      }
    }
  }
}
