@mixin scroll-bar() {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-background-color;

  &::-webkit-scrollbar {
    background-color: $scrollbar-background-color;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    width: 7px;
    background-color: $scrollbar-background-color;
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 4px;
    background-color: $scrollbar-thumb-color;
  }
}

@mixin lesson-label {
  background-color: $lesson-background-color;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin main-block {
  align-items: flex-start;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;

  &.loading:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    margin: .5rem auto;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $loader-stroke-color;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @include media-breakpoint-up(md) {
    max-height: 82vh;
  }
  @include media-breakpoint-up(lg) {
    max-height: 91vh;
  }
  @include scroll-bar();
}

@mixin day-matrix-block {
  margin-bottom: map-get($spacers, 2);
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  border: $day-border;
  background-color: $day-background;
  min-height: 50px;
  height: 100%;

  &:before {
    content: attr(data-day-number) ' ' attr(data-interval);
    height: 100%;
    display: flex;
    font-weight: 800;
    color: $day-number-text-color;
    opacity: .6;
    font-size: x-large;
    margin-left: map-get($spacers, 1);
  }
  &[data-interval]:before {
    color: blanchedalmond;
  }
  &.nearest {
    background-color: #ff000026 !important;
  }
}

@mixin lesson {
  width: 100%;
  min-height: 28px;
  padding: 3px 0;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0;
  border-radius: 0;
  border-bottom-width: 0;
  border-top-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: dashed;
  word-break: break-all;
  line-height: .9rem;

  &.empty:before {
    display: none;
  }

  &:first-of-type {
    border-top: none;
  }
  &[data-lesson-index]:before {
    color: $lesson-number-text-color;
    content: attr(data-lesson-index);
    background: $lesson-number-background-color;
    @include padding-left(map-get($spacers, 2));
    @include padding-right(map-get($spacers, 2));
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  &.session-part span {
    background-color: transparent;
    font-weight: bold;
  }
  &.session-part:before {
    --mark-radius: #{$mark-radius};
    border-radius: var(--mark-radius);
    height: calc(var(--mark-radius) * 2);
    padding-left: var(--mark-radius);
    padding-right: var(--mark-radius);
    background-color: var(--bs-orange);
    margin-left: 0.5rem;
  }

  &[data-lesson-index="6"] {
    border-top-style: solid;
    border-top-color: $lesson-calendar-delimiter-color;
    border-top-width: 2px;
  }


}

@mixin header {
  padding: map-get($spacers, 2) 0;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: $header-background;
  backdrop-filter: blur(2px);
  @include media-breakpoint-up(xs) {
    width: $line-width-sm;
  }
  @include media-breakpoint-up(md) {
    width: $line-width-lg;
  }

  span {
    text-align: center;
    justify-content: center;
    display: flex;
    min-width: calc(100% / $days-count);
    word-break: break-all;
  }
}

@mixin info-popup {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: $body-bg;
  z-index: 100;
  border-radius: 3px;
  padding: 0.7rem;
  border: 2px solid var(--bs-accent);

  .teacher-name {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .department-name {
    color: var(--bs-orange);

  }

  .teacher-name, .department-name, .discipline-name {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    @include media-breakpoint-down(xs) {
      /*white-space: break-spaces;
      word-break: break-word;*/
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

