$days-count: 6;
$col-per-screen-sm: 3.5;
$col-per-screen-lg: 6;
$day-horizontal-margin: 3px;
$line-width-sm: calc(100% * ($days-count / $col-per-screen-sm));
$line-width-lg: calc(100% * ($days-count / $col-per-screen-lg));
.room-list {
  @include main-block;
  height: calc(100vh - 57px - 1.5rem);
  @include media-breakpoint-up(xl) {
    max-height: calc(100vh - 7.6rem);
  }

  .day-lines-container {
    flex-wrap: nowrap;
    flex-direction: column;

    display: flex;

    &:first-of-type {
      justify-content: end;
    }

    &:last-child {
      justify-content: start;
    }

    .day {
      @include day-matrix-block;

      .lesson {
        @include lesson;
        justify-content: start;

        &:before {
          align-self: stretch;
        }

        .lesson-rooms-wrapper {
          display: flex;
          align-items: start;
          justify-content: start;
          flex-wrap: wrap;

          span.room {
            @include lesson-label;
            margin: auto 0.3rem;
            padding: 0 .3rem;
            white-space: nowrap;
            line-height: 1.2rem;
            position: relative;

            &.error {
              border: 1px solid red;

              &:before {
                content: '!';
                color: red;
                font-weight: bold;
                margin-right: 0.25rem;
              }
            }

            &.hovered {
              background-color: #3e3849;

              div.info {
                @include info-popup;
              }
            }
          }


          div.info {
            display: none;
          }
        }
      }
    }

  }
}
