.select {
  position: relative;
}

.selection {
  border: $select-border;
  color: $select-text-color;
  background: $select-background-color;
  padding: .7rem;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $select-hover-background-color;
  }

  i.bi {
    cursor: pointer;
    float: right;
  }

  .leftSide {
    width: 100%;
    margin-right: .5rem;
  }
}

.search {
  border: 1px none;
  border-bottom: $select-search-border;
  background-color: transparent;
  outline: none;
  color: $select-search-text-color;
  width: 100%;
  letter-spacing: 0.07rem;
  word-spacing: .2rem;
  padding-right: map-get($spacers, 2);
  padding-left: map-get($spacers, 2);
}

.variant-list {
  position: absolute;
  background: $select-list-background-color;
  border: $select-list-border;
  color: $select-list-text-color;
  border-radius: 5px;
  display: none;
  top: 112%;
  width: 100%;
  left: 0;
  overflow-y: auto;
  @include scroll-bar();

  &.active {
    display: block;
    z-index: 10;
  }

  .variant {
    cursor: pointer;
    padding: .2rem .8rem;

    &.active, &:hover {
      background-color: $select-list-item-hover-background-color;
    }
  }
}

.lds-dual-ring {

  &.active {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 0 0 auto;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $select-list-loader-stroke-color;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
