.select {
  position: relative;
}

.selection {
  border: 2px solid $accent;
  color: $accent;
  background: $body-bg;
  padding: .7rem;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: darken($body-bg, 3%);
  }

  i.bi {
    cursor: pointer;
    float: right;
  }
}

.search {
  border: 1px none;
  border-bottom: 1px solid $accent;
  background-color: transparent;
  outline: none;
  color: $primary;
  width: 100%;
  //margin-right: map-get($spacers, 3);
  letter-spacing: 0.07rem;
  word-spacing: .2rem;
  padding-right: map-get($spacers, 2);
  padding-left: map-get($spacers, 2);
}

.variant-list {
  position: absolute;
  background: $body-bg;
  border: 2px solid $accent;
  color: $primary;
  border-radius: 5px;
  display: none;
  top: 112%;
  width: 100%;
  left: 0;
  overflow-y: auto;
  @include scroll-bar();

  &.active {
    display: block;
    z-index: 10;
  }

  .variant {
    cursor: pointer;
    padding: .2rem .8rem;

    &.active, &:hover {
      background-color: darken($body-bg, 7%);
    }
  }
}

.lds-dual-ring {
  position: absolute;
  left: calc(100% - 30px - map-get($spacers, 2));

  &.active {
    //top: 10px;
    //left: calc(100% - 35px);

    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $accent transparent $accent transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}


@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
