$primary: #FCBB6D;
$secondary: #685D79;
$accent: #D8737F;
$body-bg: #475C7A;
$body-color: $primary;
$success: #C6FC6D;
/*
$body-bg: lighten(#C6CBD1, 15%);
$primary: saturate(#6A453B, 30%);
$secondary: darken(#7399BD, 10%);
$body-color: #1C477F;
 */

$dropdown-bg: var(--bs-body-bg);
$dropdown-border-color: $accent;
$dropdown-link-color: $primary;
$dropdown-link-hover-bg: darken($body-bg, 5%);
$dropdown-link-active-bg: darken($body-bg, 5%);
//$dropdown-link-hover-color:
$list-group-bg: transparent;
$list-group-color: unset;
$list-group-border-color: var(--bs-primary);
$list-group-active-color: var(--bs-primary);
$list-group-active-bg: darken($body-bg, 5%); //TODO: transform to var usage
$list-group-active-border-color: darken($body-bg, 10%); //TODO: transform to var usage

$scrollbar-thumb-color: var(--bs-secondary);
$scrollbar-background-color: var(--bs-body-bg);

$form-check-input-bg: shade($body-bg, 10%); //TODO: transform to var usage
$form-check-input-border: 2px solid rgba(var(--bs-accent-rgba), .5);

$form-check-input-width: 1.3em;
$form-check-input-focus-border: $form-check-input-border;
$form-check-input-focus-box-shadow: none;

$form-check-input-checked-color: var(--bs-accent);
$form-check-input-checked-bg-color: transparent;
$form-check-input-checked-border-color: var(--bs-accent);
$form-check-input-active-filter: none;
$form-check-input-checked-border-color: var(--bs-accent);

$text-muted: #D3D4DB;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1420px
) !default;

$loader-stroke-color: var(--bs-accent) transparent var(--bs-accent) transparent;
$header-background: rgba(var(--bs-body-bg-rgb), .8);
$header-color: var(--bs-primary);

$day-border: 1px solid var(--bs-accent);
$day-background: transparent;
$day-text-color: var(--bs-accent);
$day-number-text-color: rgba(var(--bs-primary-rgb), .6);

$lesson-calendar-delimiter-color: var(--bs-primary);
$lesson-number-text-color: var(--bs-primary);
$lesson-number-background-color: tint($secondary, 10%); //TODO: transform to var usage
$lesson-background-color: rgba(var(--bs-secondary-rgb), .4);

/* RIGHT LESSON LIST */
$lesson-delimiter-border-color: 2px solid transparentize(lighten($body-bg, 20%), .7); //TODO: transform to var usage
$lesson-list-line-threshold: 1.1rem;
$lesson-list-lesson-inside-threshold: 1rem;
$lesson-list-lesson-padding-y: .8rem;

$lesson-list-date-text-color: var(--bs-primary);
$lesson-list-date-background-color: rgba(var(--bs-secondary-rgb), .7);
$lesson-list-type-text-color: var(--bs-light);
$lesson-list-type-background-color: none;
$lesson-list-type-border: 2px solid #416FC8;

$lesson-list-session-type-border: 1px solid #79ad23;
$lesson-list-session-type-text-color: #C6FC6D;
$lesson-list-session-type-background-color: transparent;
$lesson-description-text-color: var(--bs-light);
$lesson-description-text-weight: 300;
$lesson-name-text-weight: bold;


$select-border: 2px solid var(--bs-accent);
$select-text-color: var(--bs-accent);
$select-background-color: var(--bs-body-bg);
$select-hover-background-color: darken($body-bg, 3%);//TODO: transform to var usage
$select-search-border: 1px solid var(--bs-accent);
$select-search-text-color: var(--bs-primary);
$select-list-border: 2px solid var(--bs-accent);
$select-list-text-color: var(--bs-primary);
$select-list-background-color: var(--bs-body-bg);
$select-list-item-hover-background-color: darken($body-bg, 7%);//TODO: transform to var usage
$select-list-loader-stroke-color: var(--bs-accent) transparent var(--bs-accent) transparent;
