$primary: #33539E;
$secondary: #685D79;
$accent: #EF436B;
$body-bg: #E8E8E8;
$body-color: $primary;
$success: #C6FC6D;
$light: darken($body-bg, 5%);
$enable-smooth-scroll: false;
/*
$body-bg: lighten(#C6CBD1, 15%);
$primary: saturate(#6A453B, 30%);
$secondary: darken(#7399BD, 10%);
$body-color: #1C477F;
 */
//TODO: bs-body-font-size 0.9rem when less than MD screen
$badge-color: $primary;
$dropdown-bg: var(--bs-body-bg);
$dropdown-border-color: $accent;
$dropdown-link-color: $primary;
$dropdown-link-hover-bg: darken($body-bg, 5%);
$dropdown-link-active-bg: darken($body-bg, 5%);
$dropdown-link-active-color: unset;
$dropdown-link-active-bg: none;
$list-group-bg: transparent;
$list-group-color: unset;
$list-group-border-color: var(--bs-primary);
$list-group-item-padding-y: 0.125rem;
$list-group-active-color: var(--bs-primary);
$list-group-active-bg: darken($body-bg, 5%);
$list-group-active-border-color: darken($body-bg, 10%);

$scrollbar-thumb-color: var(--bs-secondary);
$scrollbar-background-color: var(--bs-body-bg);

$form-check-input-bg: shade($body-bg, 10%);
$form-check-input-border: 2px solid rgba(var(--bs-accent-rgba), .5);

$form-check-input-width: 1.3em;
$form-check-input-focus-border: $form-check-input-border;
$form-check-input-focus-box-shadow: none;

//$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
$form-check-input-checked-color: $accent;
$form-check-input-checked-bg-color: $form-check-input-bg;
//$form-check-input-bg:$body-bg;
$form-check-input-checked-border-color: var(--bs-accent);
$form-check-input-active-filter: none;
$form-check-input-checked-border-color: var(--bs-accent);

$text-muted: #D3D4DB;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1420px
) !default;

$loader-stroke-color: var(--bs-accent) transparent var(--bs-accent) transparent;
$header-background: rgba(var(--bs-body-bg-rgb), .8);
$header-color: var(--bs-primary);

$day-border: 1px solid var(--bs-accent);
$day-background: transparent;
$day-text-color: var(--bs-accent);
$day-number-text-color: var(--bs-body-color);

$lesson-calendar-delimiter-color: var(--bs-primary);
$lesson-number-text-color: var(--bs-accent);
$lesson-number-background-color: transparent;
$lesson-background-color: rgba(var(--bs-secondary-rgb), .2);
$mark-radius: 0.3rem;

/* RIGHT LESSON LIST */
$lesson-delimiter-border-color: 2px solid transparentize(lighten($body-bg, 20%), .7);
$lesson-list__lesson-title-height: var(--lesson-list__title-line-height);
$lesson-list__description-line-height: var(--lesson-list__description-line-height);
$lesson-list__lesson-spacing: var(--lesson-list__lesson-spacing);
$lesson-list__post-header-spacing: var(--lesson-list__post-header-spacing);
$lesson-list__pre-header-spacing: var(--lesson-list__pre-header-spacing);
$lesson-list__lesson-title-bottom-margin: var(--lesson-list__lesson-title-bottom-margin);

$lesson-list-date-text-color: var(--bs-primary);
$lesson-list-date-background-color: var(--bs-secondary);
$lesson-list-type-text-color: var(--bs-body-color);
$lesson-list-type-background-color: none;
$lesson-list-type-border: 2px solid var(--bs-primary);

$lesson-list-session-type-border: 2px solid var(--bs-orange);
$lesson-list-session-type-text-color: var(--bs-orange);
$lesson-list-session-type-background-color: transparent;
$lesson-description-text-color: var(--bs-light);
$lesson-description-text-weight: 300;
$lesson-name-text-weight: bold;


$select-border: 2px solid var(--bs-accent);
$select-text-color: var(--bs-accent);
$select-background-color: var(--bs-body-bg);
$select-hover-background-color: darken($body-bg, 3%);
$select-search-border: 1px solid var(--bs-accent);
$select-search-text-color: var(--bs-primary);
$select-list-border: 2px solid var(--bs-accent);
$select-list-text-color: var(--bs-primary);
$select-list-background-color: var(--bs-body-bg);
$select-list-item-hover-background-color: darken($body-bg, 7%);
$select-list-loader-stroke-color: var(--bs-accent) transparent var(--bs-accent) transparent;
