@use "sass:math";

.overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.line {
  text-align: center;
  border-radius: 3px;
  border: 2px solid $accent;
  background-color: $body-bg;
  color: $accent;
  height: 97vh;
  position: relative;
  z-index: 2;
  @include margin-left(1rem);
  @include margin-right(1rem);
  @include make-col-ready();

  @include make-col(3);
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-up(md) {
    @include make-col(2);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }

  &.active {
    @include make-col-ready();
    @include make-col(4);
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .lesson {
    height: math.div(100-8, 5)*1%;
    color: $primary;
    display: flex;
    align-items: center;
    text-align: start;
  }

  .head {
    height: 8%;
    cursor: pointer;
  }

  .overlay {
    border-radius: 3px;
    content: "";
    position: absolute;
    background: $secondary;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    align-items: end;
    display: flex;
    justify-content: space-around;
  }

  span.timeLine {
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed;
    left: 0;
  }

}

@for $i from 1 through 5 {
  .line span.timeLine.\3#{$i} {
    top: percentage(math.div(math.div($i*92, 5) + 8, 100));
  }
}
