@import "mixins";
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";
@import "select";
@import "week-lines";

:root {
  --bs-body-bg: #{$body-bg};
  --bs-body-color: #{$primary};
  --bs-primary: #{$primary};
  --bs-secondary: #{$secondary};
  --bs-accent: #{$accent};
  --bs-dark: #1C477F;
  --bs-light: #DFEBFA;
}

$form-check-input-width: $line-height-base;
a {
  text-decoration: none;

  .bi {
    color: var(--bs-accent);
    cursor: pointer;
    border-radius: 3px;
    padding: 0 .3rem;
    display: inline-flex;

    &:hover {
      filter: brightness(90%);
      //color: darken($accent, 5%);
    }
  }

}

.subtitle {
  white-space: nowrap;
}
