@import "mixins";
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";
@import "roomList";
@import "select";
@import "week-lines";

:root {
  --bs-body-bg: #{$body-bg};
  --bs-body-color: #{$primary};
  --bs-body-color-rgb: #{to-rgb($primary)};
  --bs-primary: #{$primary};
  --bs-secondary: #{$secondary};
  --bs-accent: #{$accent};
  --bs-dark: #1C477F;
  --bs-light: #DFEBFA;
  --bs-font-sans-serif: 'Nunito';
  --lesson-list__title-line-height: 1.1rem;
  --lesson-list__description-line-height: 1.3rem;
  --lesson-list__lesson-title-bottom-margin: 0.5rem;
  --lesson-list__lesson-spacing: 0.6rem;
  --lesson-list__post-header-spacing: 0.7rem;
  --lesson-list__pre-header-spacing: 1.5rem;
}

html {
  scroll-behavior: auto;
}

$form-check-input-width: $line-height-base;
a {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.btn-link {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.month-title {
  a {
    text-decoration: none;

    .bi {
      color: var(--bs-accent);
    }

    &.left-arrow, &.right-arrow {
      height: 27px;
      stroke: var(--bs-accent);
      width: 49px;
      @include media-breakpoint-up(sm) {
        width: 51px;
      }
      background-size: 100%;
      background-position-x: right;
      background-position-y: center;
      background-repeat: no-repeat;
      margin-top: auto;
      margin-bottom: auto;

      &:hover {

      }
    }

    &.left-arrow {
    }

    &.right-arrow {
      transform: rotate(180deg);
      @include media-breakpoint-up(xs) {
        margin-left: 1rem;
      }
    }

  }

  .subtitle {
    white-space: nowrap;
    color: var(--bs-body-color);
  }
}

.menu {
  background-color: var(--bs-body-bg);
  z-index: 10;
  position: sticky;
  top: 0;
  @include padding(map-get($spacers, 2));
}

.interface-button {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 85, 49, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-gradient: none;
}