@import "mixins";
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";
@import "roomList";
@import "select";
@import "week-lines";

:root {
  --bs-body-bg: #{$body-bg};
  --bs-body-color: #{$primary};
  --bs-primary: #{$primary};
  --bs-secondary: #{$secondary};
  --bs-accent: #{$accent};
  --bs-dark: #1C477F;
  --bs-light: #DFEBFA;
  --bs-font-sans-serif: 'Nunito'
}

$form-check-input-width: $line-height-base;
a {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.btn-link {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.month-title {
  a {
    text-decoration: none;

    .bi {
      color: var(--bs-accent);
    }

    &.left-arrow, &.right-arrow {
      height: 27px;

      width: 49px;
      @include media-breakpoint-up(sm) {
        width: 51px;
      }
      background-size: 100%;
      background-position-x: right;
      background-position-y: center;
      background-repeat: no-repeat;
      margin-top: auto;
      margin-bottom: auto;

      &:hover {

      }
    }

    &.left-arrow {
      background-image: url('/arrow-clean.svg');


    }

    &.right-arrow {
      background-image: url('/arrow-clean.svg');
      transform: rotate(180deg);
      @include media-breakpoint-up(xs) {
        margin-left: 1rem;
      }
    }

  }

  .subtitle {
    white-space: nowrap;
  }
}

.menu {
  background-color: var(--bs-body-bg);
  z-index: 10;
  position: sticky;
  top: 0;
  @include padding(map-get($spacers, 2));
}

