$primary: #8458B3;
$secondary: #A0D2EB;
$accent: #494D5F;
$body-bg: #E5EAF5;

$list-group-bg: $body-bg;
$list-group-color: $primary;
$list-group-border-color: $accent;
$list-group-active-color: $primary;
$list-group-active-bg: darken($body-bg, 5%);
$list-group-active-border-color: darken($body-bg, 10%);
@use "sass:math";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";

.overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.line .lesson {
  height: math.div(100-8, 5)*1%;
  color: $primary;
  display: flex;
  align-items: center;
  text-align: start;
}

.line .head {
  height: 8%;
  cursor: pointer;
}

.line .overlay {
  border-radius: 3px;
  content: "";
  position: absolute;
  //height: 10%;
  background: $secondary;
  //display: block;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  align-items: end;
  display: flex;
  justify-content: space-around;
}

.line {
  text-align: center;
  border-radius: 3px;
  border: 2px solid $accent;
  background-color: $body-bg;
  color: $accent;
  height: 97vh;
  position: relative;
  z-index: 2;
  @include margin-left(1rem);
  @include margin-right(1rem);
  @include make-col-ready();

  @include make-col(3);
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-up(md) {
    @include make-col(2);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  //@include row-cols(4);
}

.line.active {
  @include make-col-ready();
  @include make-col(4);
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  //@include row-cols(4);
}

@for $i from 1 through 5 {
  .line span.timeLine.\3#{$i} {
    top: percentage(math.div(math.div($i*92, 5) + 8, 100));
  }
}

.line span.timeLine {
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px dashed;
  left: 0;
}
