$primary: #FCBB6D;
$secondary: #685D79;
$accent: #D8737F;
$body-bg: #475C7A;

$list-group-bg: $body-bg;
$list-group-color: $primary;
$list-group-border-color: $accent;
$list-group-active-color: $primary;
$list-group-active-bg: darken($body-bg, 5%);
$list-group-active-border-color: darken($body-bg, 10%);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1420px
) !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";

@import "week-lines";
