@import "mixins";
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "day-list";
@import "calendar";
@import "select";
@import "week-lines";
$form-check-input-width: $line-height-base;
a {
  text-decoration: none;

  .bi-backspace, .bi-arrow-right-square, .bi-arrow-left-square {
    color: $accent;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 .3rem;
    display: inline-flex;

    &:hover {
      color: darken($accent, 5%);
    }
  }

}

.subtitle {
  white-space: nowrap;
}
